/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    display: block;
    
}

.topnav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
   
}

.topnav li{
    float:left;
    margin-right: 2px;
}

/* Style the links inside the navigation bar */
.topnav a {
  display:block;
  color: #b4b4b4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover, .dropbtn:focus {
  color: orange;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: orange;
 
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Viktig hvis en skal ha nettsiden vertikalt på mobil */
  margin: 0; /* Viktig hvis en skal ha nettsiden vertikalt på mobil */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  overflow:visible;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fafafa;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
