/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.okt.2018, 14:51:40
    Author     : Erlend Thorsen
*/

.formBox div{
    position: relative;
    padding: 5px;
    
}
.selectBrukere select{
    width: 200px;
}
.selectBrukere select, label{
    display: block;
}
.selectBrukere label{
    vertical-align: top;
    width: 100%;
    text-align: center;
}
.foreleserDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.studentDiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.buttonStack{
   width: 60px;
    display: inline-block;
    margin: auto 5px;

}
.buttonStack input{
   font-size: 30px;
   padding-left: 10px;
   padding-right: 10px;
   height: auto;
   margin: 5px;
   
}