/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.sep.2018, 13:11:58
    Author     : Erlend Thorsen
*/
body{
    background-color: #fafafa;
    font-family: Tahoma, Geneva, sans-serif;
}
.velkommen{
    margin: auto;
    margin-top: 150px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    width: 50%;
    padding: 10px;
    text-align: center;
}
.mainContent{
    top: 55px;
    text-align: center;
    position: relative;
    width: 85%;
    left: 15%;
}

.bokser{
    position:relative;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    width: 80%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.mainContent img{
    max-height: 400px
}
label{
    display: inline-block;
    width: 140px;
    text-align: right;
}
.button{
    background-color: orange;
    color: white;
    height: 30px;
    border: none;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.button:hover{
    background-color: gray;
    box-shadow: 0px 0px 0px black;
}

table   {
    border-collapse:collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

#prosent    {
    border: none;
}

li,ul  {
    list-style: none;
    padding:0px;
    margin:0px;
}

.lowerright {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.lowerleft {
    position: absolute;
    left: 10px;
    bottom: 0;   
}

.middle {
    width: 10%;
    margin:auto;
}

#bottomInfo{
    margin-top: 10px;
}
